.main-navmenu {
	.inner {
		height:60px;
		line-height:60px;
		padding:0 10px; 
		background:rgba(0,0,0,0.8);
	}

	.nav-menu-cont .nav-link:hover,
	.nav-menu-cont .nav-link:focus {
	  border-bottom-color: rgba(255, 255, 255, .25);
	}

	.nav-menu-cont {
		float: right;
  		height:60px;
		.nav-link  {
			height:60px;  
			margin-left: 1rem;
			padding:0 10px !important;
			text-transform:uppercase; 
		}

		.active {
			height:60px; 
			color: red;
			border-bottom-color: $white-text;
			padding:0 10px ;
		}
	}

	.nav-brand {
	  height:60px;
	  line-height:60px; 
	  float: left;
	}   
}
